<div class="card">
    <% if @student.errors.any? %>
        <ul class="list-group">
            <% @student.errors.full_messages.each do |msg| %>
                <li class="list-group-item alert alert-danger"><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
    <h1>Sign up for your account</h1>
    <%= form_for(@student, url: signup_path,html: { class: "form-group" }) do |f| %>
        <%= f.text_field :name, class: "form-control", placeholder: "*Name" %>
        <%= f.email_field :email, class: "form-control", placeholder: "*Email" %>
        <%= f.password_field :password, class: "form-group", placeholder: "*Password" %>
        <%= f.password_field :password_confirmation, class: "form-group", placeholder: "*Reenter your password" %>
        <%= f.label :time_zone, 'Select your timezone' %>
        <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all, class: 'form-control' %>
        <%= f.submit "Sign up", class: "btn btn-success" %>
    <% end %>
</div>