<!--Search Bar-->
<% content_for :search_bar do %>
    <form class="form-inline my-2 my-lg-0">
        <div class="search-section">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Courses" aria-label="Search">
            <div class="search-area">
                <ul class="search-suggest">
                </ul>
            </div>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
<% end %>

<h1>View all available courses</h1>
<%= label_tag 'sort', 'Sort by'%>
<%= select_tag 'sort', options_for_select([:date, :popularity]) %>
<%= will_paginate @courses %>
<div class="card-columns">
    <% @courses.each do |course| %> 
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <%= image_tag(course.picture.url, class: 'card-img-top')if course.picture? %>
                <h5 class="card-title"><%= course.code %></h5>
                <p class="card-text">
                    <%= course.name %>
                </p>
                <em class="card-text" style="display: block;">By: <%= course.teacher.name %>, <%= pluralize(course.following_learners.count, 'learner') %></em>
                <%= link_to 'View', course_path(course), class: 'btn btn-success' %>
                <% if is_learner? && !followed_course(course) %>
                    <%= link_to 'Follow', follow_course_path(course), method: :patch, class: 'btn btn-warning' %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

<script type="text/javascript">
    //Sort content
    document.querySelector('#sort').onchange = (event) => {
        console.log('hello')
        //Get value
        let val = event.target.value
        switch (val) {
            case 'date':
                window.location.replace("<%= courses_path(sort: 'date') %>")
                break;
            case 'popularity':
                window.location.replace("<%= courses_path(sort: 'popularity') %>")
                break;
            default:
                break;
        }
    }

    //Populate
    var suggestion = document.querySelector('.search-suggest')
    populate = (items) => {
        items.forEach(item => {
            let li = document.createElement('li')
            let anchor = document.createElement('a')
            anchor.textContent = item["name"]
            anchor.setAttribute("href", "<%= courses_path %>/" + item["id"])
            li.appendChild(anchor)
            //Add to suggestion
            suggestion.appendChild(li)
        })
    }

    clear = () => {
        suggestion.innerHTML = null
    }

    //Search content
    document.querySelector("input[type='search']").oninput = (event) => {
        //Clear
        clear()
        //Get value
        let term = event.target.value
        if (term && term.length > 0) {
            fetch(`<%= search_course_path %>?q=${term}&format=json`)
                .then(resp => resp.json())
                .then(resp => resp.slice(0, 5))
                .then(resp => populate(resp))
                .catch(error => console.log(error))
        }
    }
</script>